.wiki-board-container {
  padding: 20px;
}

.editor-and-preview {
  display: flex;
  justify-content: space-between;
}

.editor {
  width: 45%;
}

.preview {
  width: 45%;
  padding-left: 20px;
  border-left: 0px solid #0e3672;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid #0e3672;
}
