.post-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px; /* 페이지의 최대 너비 설정 */
}

.post-content,
.comments-section {
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 2px solid #0e3672;
}

.comments-section .comment {
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 2px solid #0e3672;
}

.new-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.new-comment textarea {
  width: 97%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.new-comment button {
  padding: 10px 20px;
  background-color: #6478b4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-comment button:hover {
  background-color: #0e3672;
}

.upvote-button {
  padding: 10px 20px;
  background-color: #0e3672;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upvote-button:hover {
  background-color: #0056b3;
}

.selected-comment {
  background-color: #d4edda; /* 연한 초록색 배경 */
  border: 10px solid #c3e6cb; /* 연한 초록색 테두리 */
  color: #155724; /* 어두운 초록색 글씨 */
}

.selected-comment footer {
  font-weight: bold; /* 채택된 댓글의 작성자 정보 강조 */
}

.upvote-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 우측 정렬 */
  margin-top: 10px;
}

.upvote-icon {
  cursor: pointer;
  margin-right: 5px;
  width: 24px; /* 아이콘 크기 */
  height: 24px;
  transition: 0.3s; /* 아이콘 변화에 부드러운 전환 효과 추가 */
}

.upvote-icon:hover {
  content: url("../../public/upButton.svg"); /* 커서를 올렸을 때 변경될 아이콘 */
}

.people-plus-icon {
  cursor: pointer;
}

.people-plus-icon:hover {
  content: url("../../public/people-plus-hover.svg");
}

.check-button {
  cursor: pointer;
  margin-right: 5px;
  width: 50px; /* 아이콘 크기 */
  height: 50px;
  transition: 0.3s; /* 아이콘 변화에 부드러운 전환 효과 추가 */
}

.check-button:hover {
  content: url("../../public/check-hover.svg");
}
